In [2]:
import pandas as pd
import numpy as np
import mysql # Para ver la versión
import mysql.connector
import pymysql

**CREAR BASE DE DATOS**

In [4]:

database = "AEMET"

def crear_database(database, host = "localhost", user = "root", password = "password"):

    # Inicializar Connector
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = None)
    
    # Iniciar Cursor
    cursor = db.cursor()
    
    # Creamos la BBDD con la setencia de SQL y usando la variable cursor
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    # Finalizar Cursor - Cierra el cursor
    cursor.close()
    
    # Finalizar Connector
    db.close()

In [5]:
crear_database(database, host = "localhost", user = "root", password = "password")

**CREAR TABLAS DENTRO DE LA BASE DE DATOS**

In [7]:
database = "AEMET"

def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [8]:
with open("ciudad.txt", "r") as file:
    query = file.read()

In [9]:
query

'CREATE TABLE IF NOT EXISTS ciudades (\n    ciudad_id INT AUTO_INCREMENT PRIMARY KEY,\n    ciudad VARCHAR(256))\n;'

In [10]:
execute_query(query = query, database = database)

In [11]:
with open("provincia.txt", "r") as file:
    query = file.read()

In [12]:
execute_query(query = query, database = database)

In [13]:
with open("indicativo.txt", "r") as file:
    query = file.read()

In [14]:
execute_query(query = query, database = database)

In [15]:
with open("valores_climatologicos.txt", "r") as file:
    query = file.read()

In [16]:
execute_query(query = query, database = database)

**INSERTAR DATOS**

In [18]:
def insert_to_table(data, table, database, host = "localhost", user = "root", password = "nueva_contraseña"):
    
    db = mysql.connector.connect(host     = host,
                                 user     = user,
                                 password = password,
                                 database = database)
    cursor = db.cursor()

    # Seleccionamos las columnas de la tabla, omitiendo la Primary Key
    cursor.execute(f"SELECT * FROM {table} LIMIT 0;")
    column_names = cursor.column_names[1:]
    cursor.fetchall()

    insert_query = f"INSERT INTO {table} ({', '.join(column_names)}) VALUES ({', '.join(['%s' for _ in column_names])})".replace("'", "")
    values = [tuple(row) for row in data]

    # .executemany ejecuta el query de INSERT INTO con cada uno de los elementos de "values"
    cursor.executemany(insert_query, values)
    
    # Guarda los resultados
    db.commit()

    print(f"Añadidas: {cursor.rowcount} filas")

    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [19]:
data = pd.read_csv("ciudades.csv", index_col=0).values
table = "ciudades"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 915 filas

In [20]:
data = pd.read_csv("provincia.csv", index_col=0).values
table = "provincias"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 53 filas

In [21]:
data = pd.read_csv("indicativo.csv", index_col=0).replace({np.nan : None}).values
table = "indicativos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 928 filas

In [22]:
data = pd.read_csv("df_13.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 287130 filas

In [23]:
data = pd.read_csv("df_14.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 298140 filas

In [24]:
data = pd.read_csv("df_15.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 304127 filas

In [25]:
data = pd.read_csv("df_16.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 617037 filas

In [26]:
data = pd.read_csv("df_17.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 309965 filas

In [27]:
data = pd.read_csv("df_18.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 309918 filas

In [28]:
data = pd.read_csv("df_19.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 312037 filas

In [29]:
data = pd.read_csv("df_20.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 312958 filas

In [30]:
data = pd.read_csv("df_21.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 316663 filas

In [31]:
data = pd.read_csv("df_22.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 317963 filas

In [32]:
data = pd.read_csv("df_23.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 320548 filas

In [33]:
data = pd.read_csv("df_24.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 270035 filas