In [35]:
import pandas as pd
import numpy as np
import folium
import geopandas as gpd
import matplotlib.pyplot as plt
import mysql # Para ver la versión
import mysql.connector
import pymysql

In [37]:
query = f"""SELECT tmed
FROM 
    valores_climatologicos"""

In [38]:
database = "AEMET"

db = mysql.connector.connect(host     = "localhost",
                             user     = "root",
                             password = "nueva_contraseña",
                             database = database)

cursor = db.cursor()

cursor.execute(query) # Ejecutamos la query
column_names = cursor.column_names # Nombre de las columnas de la tabla

# Guardamos los datos de la tabla
data = cursor.fetchall()


df = pd.DataFrame(data)

cursor.close()
db.close()

In [41]:
#NAN'S TEMPERATURA MEDIA - Sólo un dos por ciento de las temperaturas son NaN's
df.astype(float)
df.isna().value_counts()

0
False    889763
True      18783
Name: count, dtype: int64

In [43]:
#df[3].mean() = 16.38 ºC
#df[3].max() = 40.4 ºC
#df[3].min() = -15.0 ºC

In [51]:
# Conclusión: al ser pocas filas las que tienen valores NaN's, sólo un 2%, se opta por eliminar esas filas
# ya que consideramos que no va a afectar mucho al resultado del modelo.

df = df.dropna()

In [59]:
df = df.rename(columns = {0 : "temperatura"})

In [61]:
df

        temperatura
0              19.8
1              10.2
2              13.6
3              14.8
4               6.4
...             ...
908539         12.8
908540         15.2
908541         13.2
908544         17.0
908545         16.5

[889763 rows x 1 columns]