In [1]:
import pandas as pd
import numpy as np
import mysql # Para ver la versión
import mysql.connector
from mysql.connector import Error  
import pymysql
import traceback  # Asegúrate de incluir esta línea

**CREAR BASE DE DATOS**

In [3]:

database = "AEMET"

def crear_database(database, host = "localhost", user = "root", password = "password"):

    # Inicializar Connector
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = None)
    
    # Iniciar Cursor
    cursor = db.cursor()
    
    # Creamos la BBDD con la setencia de SQL y usando la variable cursor
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    # Finalizar Cursor - Cierra el cursor
    cursor.close()
    
    # Finalizar Connector
    db.close()

In [4]:
crear_database(database, host = "localhost", user = "root", password = "password")

**CREAR TABLAS DENTRO DE LA BASE DE DATOS**

In [6]:
database = "AEMET"

def execute_query(query, database, host = "localhost", user = "root", password = "password"):
    
    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "nueva_contraseña",
                                 database = database)
    
    cursor = db.cursor()
    
    cursor.execute(query)
    
    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [7]:
with open("../esquemas_sql/ciudad.txt", "r") as file:
    query = file.read()

In [8]:
query

'CREATE TABLE IF NOT EXISTS ciudades (\n    ciudad_id INT AUTO_INCREMENT PRIMARY KEY,\n    ciudad VARCHAR(256))\n;'

In [9]:
execute_query(query = query, database = database)

In [10]:
with open("../esquemas_sql/provincia.txt", "r") as file:
    query = file.read()

In [11]:
execute_query(query = query, database = database)

In [12]:
with open("../esquemas_sql/indicativo.txt", "r") as file:
    query = file.read()

In [13]:
execute_query(query = query, database = database)

In [14]:
with open("../esquemas_sql/valores_climatologicos.txt", "r") as file:
    query = file.read()

In [15]:
execute_query(query = query, database = database)

**INSERTAR DATOS**

In [17]:
def insert_to_table(data, table, database, host = "localhost", user = "root", password = "Estela080702."):
    
    db = mysql.connector.connect(host     = host,
                                 user     = user,
                                 password = password,
                                 database = database) 
    cursor = db.cursor()

    # Seleccionamos las columnas de la tabla, omitiendo la Primary Key
    cursor.execute(f"SELECT * FROM {table} LIMIT 0;")
    column_names = cursor.column_names[1:]
    cursor.fetchall()

    insert_query = f"INSERT INTO {table} ({', '.join(column_names)}) VALUES ({', '.join(['%s' for _ in column_names])})".replace("'", "")
    values = [tuple(row) for row in data]

    # .executemany ejecuta el query de INSERT INTO con cada uno de los elementos de "values"
    cursor.executemany(insert_query, values)
    
    # Guarda los resultados
    db.commit()

    print(f"Añadidas: {cursor.rowcount} filas")

    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

In [18]:
### MODIFICA EL   

def insert_to_table(data, table, database, host="localhost", user="root", password="nueva_contraseña"):
    db = None
    cursor = None
    try:
        db = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database,
        )
        cursor = db.cursor()

        # Adjust server timeout settings
        nuevo_timeout = 28800  # 8 hours in seconds
        cursor.execute(f"SET SESSION wait_timeout = {nuevo_timeout};")
        cursor.execute(f"SET SESSION interactive_timeout = {nuevo_timeout};")

        # Select the columns from the table, omitting the Primary Key
        cursor.execute(f"SELECT * FROM {table} LIMIT 0;")
        column_names = cursor.column_names[1:]  # Assuming the first column is the Primary Key
        cursor.fetchall()

        insert_query = f"INSERT INTO {table} ({', '.join(column_names)}) VALUES ({', '.join(['%s' for _ in column_names])})"
        values = [tuple(row) for row in data]

        # Use executemany to execute the INSERT INTO query with each of the elements in "values"
        cursor.executemany(insert_query, values)

        # Save the results
        db.commit()

        print(f"Añadidas: {cursor.rowcount} filas")

    except Error as e:
        print(f"Error: {e}")
        traceback.print_exc()

    finally:
        if cursor:
            cursor.close()
        if db and db.is_connected():
            db.close()

In [19]:


data = pd.read_csv("ciudades.csv", index_col=0).values
table = "ciudades"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 921 filas

In [20]:
data = pd.read_csv("provincia.csv", index_col=0).values
table = "provincias"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 53 filas

In [21]:
data = pd.read_csv("indicativo.csv", index_col=0).replace({np.nan : None}).values
table = "indicativos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 928 filas

In [22]:
data = pd.read_csv("df_13.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 287130 filas

In [23]:
data = pd.read_csv("df_14.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 298140 filas

In [24]:
data = pd.read_csv("df_15.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 304127 filas

In [25]:
#AVISO, este año requiere en algunos casos solicitar 
#a MYSQL ampliar la capacidad de filas que se insertan.

data = pd.read_csv("df_16.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Error: 1153 (08S01): Got a packet bigger than 'max_allowed_packet' bytes

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/mysql/connector/connection_cext.py", line 705, in cmd_query
    self._cmysql.query(
_mysql_connector.MySQLInterfaceError: Got a packet bigger than 'max_allowed_packet' bytes

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_7371/45356969.py", line 29, in insert_to_table
    cursor.executemany(insert_query, values)
  File "/opt/anaconda3/lib/python3.12/site-packages/mysql/connector/cursor_cext.py", line 484, in executemany
    return self.execute(stmt)
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/mysql/connector/cursor_cext.py", line 357, in execute
    result = self._connection.cmd_query(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/mysql/connector/opentelemetry/context_propagation.py", line 97, in wrapper
    return method(cnx, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/mysql/connector/connection_cext.py", line 713, in cmd_query
    raise get_mysql_exception(
mysql.connector.errors.OperationalError: 1153 (08S01): Got a packet bigger than 'max_allowed_packet' bytes

In [26]:
data = pd.read_csv("df_17.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 309965 filas

In [27]:
data = pd.read_csv("df_18.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 309918 filas

In [28]:
data = pd.read_csv("df_19.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 312037 filas

In [29]:
data = pd.read_csv("df_20.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 312958 filas

In [30]:
data = pd.read_csv("df_21.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 316663 filas

In [31]:
data = pd.read_csv("df_22.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 317963 filas

In [32]:
data = pd.read_csv("df_23.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 320548 filas

In [33]:
data = pd.read_csv("df_24.csv").replace({np.nan : None}).values
table = "valores_climatologicos"
database = "AEMET"

insert_to_table(data = data, table = table, database = database)

Añadidas: 294584 filas